:root {
    --dark-color: #333E50;
    --blue-color: #1C6179;
    --green-color: #2BBFB0;
    --stroke-color: #333E50;
/* hoover cokors */
    --green-hoover-color: #5cc8bd;
    --lighterBlue-color: #46618b;
}


* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

/* navigation */
.wrapper {
    width: 1440px;
    margin: 0 auto;
    padding: 0;
}

.desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desktop-nav .menu-items {
    display: flex;
    list-style-type: none;
}

.desktop-nav .menu-items li {
    margin: 0 40px;
}

.desktop-nav .menu-items li a {
    text-decoration: none;
    color: var(--dark-color);
    font-size: 20px;
    font-weight: bold;
}

.desktop-nav .menu-items li a.btn {
    color: var(--dark-color);  
}

a.btn {
    background: var(--green-color);
    color: var(--dark-color);
    border-radius: 100px;
    padding: 10px 40px;
    text-decoration: none;
    transition: background-color 400ms;
}

a.btn:hover {
    background: var(--green-hoover-color);
}

/* home section */
.home-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-container .left {
    flex: 1;
}

.home-container .left p {
    font-size: 20px;
    color: var(--blue-color);
    position: relative;
}

.home-container .left h1 {
    font-size: 46px;
    background: linear-gradient(to right, #2BBFB0, #333E50);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-container .right {
    padding-right: 30px;
}

.home-container .shape {
    position: absolute;
    z-index: -1;
    top: 210px;
    left: 830px;
}

/* animation */
.home-container .left h1 {
    animation: fadeIn 600ms forwards;
    opacity: 0;
    animation-delay: 400ms;
}

.home-container .left p {
    animation: fadeIn 600ms forwards;
    opacity: 0;
    animation-delay: 600ms;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.home-container .right {
    animation: fadeToLeft 600ms forwards;
    opacity: 0;
    animation-delay: 400ms;
}

.home-container .shape {
    animation: fadeToLeft 600ms forwards;
    opacity: 0;
    animation-delay: 400ms;
}

@keyframes fadeToLeft {
    from {
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* about section */
.about-container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.about-container .about-image {
    position: absolute;
    z-index: -1;
    top: 800px;
}